// determine theme
$theme: "light";
$theme: "dark";

// main background
$main-bg: linear-gradient(90deg, #00aaff, #00ff6c);
@if $theme == "dark" {
  $main-bg: linear-gradient(315deg, #2b3562 0%, #12100e 74%);
}

// text colors
$clr-neutral-400: #272b33;
$clr-neutral-200: #1f2129;

// main theme colors
$clr-primary-400: #fff;
$clr-primary-300: #26fed7;
$clr-primary-200: #c7d4e7;

// secondary decorative colors
$clr-secondary-400: #f44336;
$clr-secondary-200: #9c27b0;

@if $theme == "dark" {
  // main theme colors
  $clr-primary-400: #1f2129;
  $clr-primary-300: #272b33;
  $clr-primary-200: #3a4452;
  // text colors
  $clr-neutral-400: #26fed7;
  $clr-neutral-200: #fff;
  // secondary decorative colors
  $clr-secondary-400: #eb6666;
  $clr-secondary-200: #ffeb3b;
}

// buttons box-shadow
$btn-box-shadow:
  -8px -8px 10px rgba(255, 255, 255, 0.03),
  5px 5px 10px rgba(0, 0, 0, 0.2);
