@use "./base";
@use "./components";

.app {
  min-height: 100vh; // default if browser doesn't understand dvh unit
  min-height: 100dvh;
  display: grid;
  place-items: center;
  padding-inline: 0.5rem;
  user-select: none;
}
