@font-face {
  font-family: "varela-round";
  font-weight: 400;
  src:
    url("../fonts/varelaround-regular-webfont.woff2") format("woff2"),
    url("../fonts/varelaround-regular-webfont.woff") format("woff");
}
