@use "../variables" as *;

.calculator {
  width: min(350px, 100%);
  border-radius: 0.75rem 0.75rem 0.5rem 0.5rem;
  overflow: hidden;
  background-color: $clr-primary-400;

  &__keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $btn-spacing;
    padding: $btn-spacing;
    background-color: $clr-primary-300;
  }

  &__display {
    padding: 0.75rem 1rem;
    text-align: end;
    $input-output-min-height: 2ch;

    .input {
      min-height: $input-output-min-height;
      color: $clr-neutral-400;
      font-size: $fs-400-600;
      margin-bottom: 0.5rem;
      overflow-x: auto;
      white-space: nowrap;
      transform: translateY(0px);
      transition: transform 200ms linear;
      padding-right: 2px;
      border-right: 1px solid transparent;

      // animate a cursor at the end
      animation: fade-in-out 600ms ease-in-out infinite alternate;
      @keyframes fade-in-out {
        to {
          border-right-color: $clr-neutral-200;
        }
      }

      &:has(+ .output:empty) {
        transform: translateY(100%);
      }

      // custom scroll bar
      // width
      &::-webkit-scrollbar {
        height: 3px;
      }

      // track
      &::-webkit-scrollbar-track {
        background: $clr-primary-300;
      }

      // handle
      &::-webkit-scrollbar-thumb {
        background: $clr-primary-200;

        &:hover {
          background: scale-color($clr-primary-200, $lightness: 20%);
        }
      }
    }

    .output {
      min-height: $input-output-min-height;
      color: $clr-neutral-200;
      font-size: $fs-600-800;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
}

.modifier {
  color: $clr-neutral-400;
}

.brackets {
  display: flex;
  align-items: stretch;
  overflow: hidden;

  &:hover {
    background-color: $clr-primary-400;
  }

  div {
    flex: 1;
    display: grid;
    place-items: center;

    &:hover {
      background-color: $clr-primary-200;
    }

    &:first-child {
      border-right: 1px solid $clr-primary-200;
    }

    &:last-child {
      border-left: 1px solid $clr-primary-200;
    }
  }
}

.bracket {
  color: #03a9f4;
}

.operator {
  color: $clr-secondary-400;
}

.equals {
  color: $clr-secondary-200;
}

.span-2 {
  grid-column: span 2;
}
